nav > a{
  padding: 5px;
  text-decoration: none;
}

.boton button{
  margin: 1%;
}
//para un estilo en especial- en la pagina donde se encuentre
nav > a.active{
  background: rgb(167, 167, 248);
}




